<app-header></app-header>
<main>
    <section>
        <table>
            <tr><th colspan="2">{{ "schedule.schedule" | translate }}</th></tr>
            <tr><td>{{ "schedule.monday" | translate }}:</td><td>{{ "schedule.openingHours" | translate }}</td></tr>
            <tr><td>{{ "schedule.tuesday" | translate }}:</td><td>{{ "schedule.openingHours" | translate }}</td></tr>
            <tr><td>{{ "schedule.wednesday" | translate }}:</td><td>{{ "schedule.openingHours" | translate }}</td></tr>
            <tr><td>{{ "schedule.thursday" | translate }}:</td><td>{{ "schedule.openingHours" | translate }}</td></tr>
            <tr><td>{{ "schedule.friday" | translate }}:</td><td>{{ "schedule.openingHours" | translate }}</td></tr>
            <tr><td>{{ "schedule.saturday" | translate }}:</td><td>{{ "schedule.closed" | translate }}</td></tr>
            <tr><td>{{ "schedule.sunday" | translate }}:</td><td>{{ "schedule.closed" | translate }}</td></tr>
        </table>
    </section>
    <section>
            <h1> {{ "capital.contact" | translate }} </h1>
            <p><i class="fa-solid fa-location-dot" style="color: black"></i> C. de Enrique Cubero, 9, 47014 Valladolid </p>
            <p><i class="fa-solid fa-phone" style="color: black"></i> +34 616 443 219 </p>
            <p><i class="fa-solid fa-envelope" style="color: black"></i> info@priveeventos.com </p>
    </section>
    <section>
        <form>
            <label for="name"> {{ "accountSettings.name" | translate }}: </label>
            <input type="text" name="name" id="name" [placeholder]=" 'accountSettings.exampleName' | translate " required>
            <label for="email"> {{ "accountSettings.email" | translate }}: </label>
            <input type="email" name="email" id="email" [placeholder]=" 'accountSettings.exampleEmail' | translate " required>
            <label for="phone"> {{ "accountSettings.phone" | translate }}: </label>
            <input type="tel" name="phone" id="phone" [placeholder]=" 'accountSettings.examplePhone' | translate " required>
            <label for="message"> {{ "accountSettings.message" | translate }}: </label>
            <textarea name="message" id="message" rows="10" required></textarea>
            <input type="submit" [value]=" 'accountSettings.send' | translate ">
        </form>
    </section>
</main>
<app-footer></app-footer>