<app-header></app-header>
<main>
    <section>
        <table>
            <tr><th colspan="2">Horario</th></tr>
            <tr><td>Lunes:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Martes:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Miércoles:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Jueves:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Viernes:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Sábado:</td><td>Cerrado</td></tr>
            <tr><td>Domingo:</td><td>Cerrado</td></tr>
        </table>
    </section>
    <section>
            <h3> CONTACTO </h3>
            <p><i class="fa-solid fa-location-dot" style="color: black"></i> C. de Enrique Cubero, 9, 47014 Valladolid </p>
            <p><i class="fa-solid fa-phone" style="color: black"></i> 616 443 219 </p>
            <p><i class="fa-solid fa-envelope" style="color: black"></i> info@priveeventos.com </p>
    </section>
    <section>
        <form>
            <label for="name"> Nombre: </label>
            <input type="text" name="name" id="name" placeholder="Martín" required>
            <label for="email"> Correo electrónico: </label>
            <input type="email" name="email" id="email" placeholder="ejemplo@gmail.com" required>
            <label for="phone"> Teléfono: </label>
            <input type="tel" name="phone" id="phone" placeholder="666 777 888" required>
            <label for="message"> Mensaje: </label>
            <textarea name="message" id="message" rows="10" required></textarea>
            <input type="submit" value="Enviar">
        </form>
    </section>
</main>
<app-footer></app-footer>