main {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    column-gap: 2%;

    background-color: #edcdb0;
    padding: 5%;
    
}

table {
    border: 3px solid #835832;
    border-radius: 20px;
    overflow: hidden;
}

tr {
    background-color: white;
}

tr:nth-child(2n+1) {
    background-color: #e5c1a2;
}

tr:last-of-type td {
    border-bottom: none;
}

th, td {
    border-bottom: 1px solid #c89c76;
    font-size: 20px;
    padding: 10px 15px;
}

th {
    text-align: center;
}

td:nth-child(1) {
    border-right: 1px solid #c89c76;
}

h1 {
    font-size: 25px;
    margin-bottom: 5vh;
}

form {
    display: grid;
    row-gap: 1vh;
}

label {
    user-select: none;
}

input {
    height: 40px;
}

label, input {
    font-size: 18px;
}

input[type=submit] {
    border-radius: 5px;
    width: 150px;
}

input[type=submit]:hover {
    background-color: #d1d1d1;
}

@media (max-width: 1100px) {
    main {
        grid-template-columns: 0.5fr 0.5fr;
        row-gap: 30px;
    }
}

@media (max-width: 800px) {
    main {
        grid-template-columns: 0.5fr;
        justify-content: center;
    }

    td, th, input {
        font-size: 15px;
    }
}