<section>
    <article>
        <table>
            <tr><th colspan="2">Horario</th></tr>
            <tr><td>Lunes:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Martes:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Miércoles:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Jueves:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Viernes:</td><td>8:00 - 18:00</td></tr>
            <tr><td>Sábado:</td><td>Cerrado</td></tr>
            <tr><td>Domingo:</td><td>Cerrado</td></tr>
        </table>
    </article>
    <article>
        <h4> Localización </h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1333.4040607072825!2d-4.769323667965238!3d41.63579953178132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd476d09eaea1f8f%3A0x181df062bde7130c!2sME%20PRIVE!5e1!3m2!1ses!2ses!4v1710245035670!5m2!1ses!2ses" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
</section>