<footer>
    <section>
        <h6> CONTACTO </h6>
        <p><i class="fa-solid fa-location-dot" style="color: #e6bf9c"></i> C. de Enrique Cubero, 9, 47014 Valladolid </p>
        <p><i class="fa-solid fa-phone" style="color: #e6bf9c"></i> 616 443 219 </p>
        <p><i class="fa-solid fa-envelope" style="color: #e6bf9c"></i> info@priveeventos.com </p>
    </section>
    <section>
        <h6> REDES SOCIALES </h6>
        <p>
            <a href="https://www.facebook.com/people/Privée-Eventos/100063830400885/">
                <i class="fa-brands fa-facebook" style="color: #e6bf9c;"></i>
                Facebook
            </a>
        </p>
        <p>
            <a href="https://twitter.com/privee_eventos">
                <i class="fa-brands fa-x-twitter" style="color: #e6bf9c;"></i>
                Twitter
            </a>
        </p>
    </section>
    <section>
        <h6> SOBRE NOSOTROS </h6>
        <a href="https://www.priveeventos.com"><h1> Privé Eventos </h1></a>
    </section>
</footer>