<footer>
    <section>
        <h1> {{ "capital.contact" | translate }} </h1>
        <p><i class="fa-solid fa-location-dot" style="color: #fff"></i> C. de Enrique Cubero, 9, 47014 Valladolid </p>
        <p><i class="fa-solid fa-phone" style="color: #fff"></i> 616 443 219 </p>
        <p><i class="fa-solid fa-envelope" style="color: #fff"></i> info@priveeventos.com </p>
    </section>
    <section>
        <h1> {{ "capital.RRSS" | translate }} </h1>
        <p>
            <a href="https://www.facebook.com/people/Privée-Eventos/100063830400885/">
                <i class="fa-brands fa-facebook" style="color: #fff;"></i>
                Facebook
            </a>
        </p>
        <p>
            <a href="https://twitter.com/privee_eventos">
                <i class="fa-brands fa-x-twitter" style="color: #fff;"></i>
                Twitter
            </a>
        </p>
    </section>
    <section>
        <h1> {{ 'capital.aboutUs' | translate }} </h1>
        <h2> Privé Eventos </h2>
        <app-language></app-language>
    </section>
</footer>