<header>
    <section>
        <a routerLink="/home">
            <img src="../../../assets/images/Logo.png" alt="Logotipo del gastrobar">
        </a>
            <h1> MePrivé Gastrobar </h1>
    </section>
    <section>
        <a routerLink="/home"><span> {{ "capital.home" | translate }} </span></a>
        <a routerLink="/cafeteria"><span> {{ "capital.cafeteria" | translate }} </span></a>
        <a routerLink="/menu"><span> {{ "capital.menu" | translate }} </span></a>
        <a routerLink="/contact"><span> {{ "capital.contact" | translate }} </span></a>
        <app-logout></app-logout>
    </section>
</header>