header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

section:first-of-type {
    display: grid;
    grid-template-columns: 130px 1fr;
    align-items: center;
    justify-content: center;
}

section:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: white;
}

img {
    width: 100%;
}