<header>
    <section>
        <a routerLink="/home">
            <img src="../../../assets/images/Logo.png" alt="Logotipo del gastrobar">
        </a>
            <h1> MePrivé Gastrobar </h1>
    </section>
    <!-- TODO: Add BackOffice -->
    <section>
        <a routerLink="/home"><span> HOME </span></a>
        <a routerLink="/cafeteria"><span> CAFETERÍA </span></a>
        <a routerLink="/menu"><span> MENÚ </span></a>
        <a routerLink="/contact"><span> CONTACTO </span></a>
        <app-logout></app-logout>
    </section>
</header>