main {
    background-color: #e6b68b;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 5vh;
}

form {
    display: grid;
    row-gap: 1vh;
}

label {
    user-select: none;
}

label, input {
    font-size: 18px;
}

input[type=submit] {
    width: 150px;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: #e6b68b;
    color: white;
}