hr {
    border: none;
    border-top: medium double #9a5833;
    color: #9a5833;;
    text-align: center;
    overflow: visible;
    padding: 0;
}

hr:after {
    content: "☕︎";
    position: relative;
    top: -0.9em;

    background: white;
    font-size: 2em;
    padding: 0.2em 0.25em;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;

    margin: 0 12vw;
    text-align: center;
}

img {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

img:nth-child(1) {
    width: 30vw;
}

img:nth-child(2) {
    margin: 200px 0 0 23vw;
    width: 35vh;
}

h1 {
    position: relative;
    bottom: 0;

    font-size: 25px;
    margin: 55% 0 0 0;
}

a {
    background-color: #9a5833;
    border: 0.5px solid #9a5833;
    border-radius: 10px;
    color: white;
    text-decoration: none;

    height: 15px;
    width: 70px;

    margin: 0 auto;
    padding: 15px;
}

@media (max-width: 1400px) {
    img:nth-child(2) {
        display: none;
    }
}

/* TODO: Mejorar este responsive */
@media (max-width: 800px) {
    img {
        width: 45vw;
    }

    h1 {
        font-size: 18px;
    }
}