button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;

    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

button:hover {
    color: white;
}

a {
    color: black;
    cursor: default;
    font-size: 17px;
    text-decoration: none;
}

span:hover, span:active {
    color: white;
    cursor: pointer;
}