button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;

    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

button:hover {
    color: white;
}