section {
    text-align: center;
    padding: 6vh 0;
}

article div {
    text-align: center;
    margin: 0 auto;
}

article:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.circle {
    border: 2px solid #e6b68b;
    background-color: #e6b68b;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform: translateY(20%);
}

.diamond {
    border: 4px solid #e6b68b;
    background-color: white;
    width: 8rem;
    height: 8rem;
    transform: translateY(8%) rotate(45deg);
}

div p {
    font-size: 50px;
    position: relative;
    transform: translate(-2%, -30%) rotate(-45deg);
}

div + p {
    font-size: 25px;
}

h3 {
    font-size: 25px;
}

p {
    line-height: 10px;
    grid-row-start: 2;
}