section {
    text-align: center;
    padding: 6vh 0;
}

article div {
    text-align: center;
    margin: 0 auto;
}

article:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div {
    font-size: 25px;
    margin-top: 10vh;
    border: 2px solid #e6b68b;
    width: 8rem;
    height: 8rem;
    box-sizing: border-box;
    transform: rotate(-45deg);
}

div p {
    position: relative;
    transform: translate(150rem, 150px);
    transform: rotate(45deg);
}

h3 {
    font-size: 25px;
}

p {
    line-height: 10px;
}