<section>
    <article>
        <h3> PEQUEÑOS PLATOS, GRANDES PLACERES </h3>
        <p> Cada mañana, el café se convierte en nuestro cómplice silencioso, 
            despertando los sentidos con su aroma inconfundible. </p>
        <p> En cada sorbo, encuentramos consuelo y una pausa necesaria 
            para comenzar el día con energía y calidez. </p>
    </article>
    <article>
        <!-- TODO: ¿Terraza?  -->
        <div><p><i class="fa-solid fa-mug-saucer"></i> Café </p></div>
        <div><p><i class="fa-solid fa-utensils"></i> Menú </p></div>
        <div><p><i class="fa-solid fa-champagne-glasses"></i> Terraza </p></div>
    </article>
</section>