<section>
    <article>
        <h3> PEQUEÑOS PLATOS, GRANDES PLACERES </h3>
        <p> Cada mañana, el café se convierte en nuestro cómplice silencioso, 
            despertando los sentidos con su aroma inconfundible. </p>
        <p> En cada sorbo, encuentramos consuelo y una pausa necesaria 
            para comenzar el día con energía y calidez. </p>
    </article>
    <article>
        <!-- TODO: ¿Terraza?  -->
        <div class="circle">
            <div class="diamond">
                <p><i class="fa-solid fa-mug-saucer" style="color: #9a5833;"></i></p>
            </div>
        </div>
        <p> CAFÉ </p>
        <div class="circle">
            <div class="diamond">
                <p><i class="fa-solid fa-utensils" style="color: #9a5833;"></i></p>
            </div>
        </div>
        <p> MENÚ </p>
        <div class="circle">
            <div class="diamond">
                <p><i class="fa-solid fa-champagne-glasses" style="color: #9a5833;"></i></p>
            </div>
        </div>
        <p> TERRAZA </p>
    </article>
</section>