<section>
    <article>
        <h1> {{ "cafeteria.slogan" | translate }} </h1>
        <p> {{ "cafeteria.sentence1" | translate }} </p>
        <p> {{ "cafeteria.sentence2" | translate }} </p>
    </article>
    <article>
        <div class="circle">
            <div class="diamond">
                <p><i class="fa-solid fa-mug-saucer" style="color: #9a5833;"></i></p>
            </div>
        </div>
        <p> {{ "capital.coffee" | translate }} </p>
        <div class="circle">
            <div class="diamond">
                <p><i class="fa-solid fa-utensils" style="color: #9a5833;"></i></p>
            </div>
        </div>
        <p> {{ "capital.menu" | translate }} </p>
        <div class="circle">
            <div class="diamond">
                <p><i class="fa-solid fa-champagne-glasses" style="color: #9a5833;"></i></p>
            </div>
        </div>
        <p> {{ "capital.terrace" | translate }} </p>
    </article>
</section>