article div {
    display: grid;
    grid-template-columns: 300px 150px 1fr 60px 21px 21px;
    column-gap: 4%;
    align-items: center;

    height: 56px;
    margin: 0 10%;
}

article:not(:last-of-type) div{
    border-bottom: 1px solid lightgray;
}

/* Menu editing */
h3 {
    grid-column: 1 / -1;

    font-family: "Whisper", cursive;
    font-size: 40px;
    text-align: center;
}

p, 
input, 
select {
    font-size: 18px;
    height: 50px;
}

/* Icons */
p:nth-child(5),
p:nth-child(6),
button {
    font-size: 20px;
}

input, select {
    border: none;
    font-family: "Josefin Sans", sans-serif;
    appearance: none;
}

button {
    grid-column: -2 / -1;
    background: transparent;
    border: 0;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 1125px) {
    article div {
        grid-template-columns: 1fr 125px 150px 45px 21px 21px;
        column-gap: 1%;
    }

    p, input, button, select {
        font-size: 15px;
    }

    input[name=price] {
        width: 35px;
    }
}

/* TODO: Responsive para enanos */
@media (max-width: 500px) {
    h3 {
        font-size: 30px;
    }
}