div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 21px 21px;
    column-gap: 4%;

    height: 56px;
    margin: 0 10%;
}

div:not(:last-of-type) {
    border-bottom: 1px solid lightgray;
}

/* Menu editing */
h3 {
    grid-column: 1 / -1;

    font-family: "Whisper", cursive;
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 18px;
}

/* Edit icons */
p:nth-child(4),
p:nth-child(5) {
    font-size: 20px;
}

input {
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}

/* TODO: Hacer responsive */