<app-header></app-header>
<main *ngIf="adminCookie">
    <section *ngIf="!editMode">
        <h3>{{ "cafeteria.menuEditing" | translate }}</h3>
        <div>
            <p><b> {{ "cafeteria.dishName" | translate }} </b></p>
            <p><b> {{ "cafeteria.serviceDate" | translate }} </b></p>
            <p><b> {{ "cafeteria.price" | translate }} </b></p>
            <p> </p>
            <p (click)="edit()"><i class="fa-solid fa-pencil" style="color: black;"></i></p>
        </div>
        <div *ngFor="let item of menu.first; let i = index">
            <p>{{ item.name }} </p>
            <p>{{ item.date }} </p>
            <p>{{ item.price }} € </p>
        </div>
        <div *ngFor="let item of menu.second; let i = index">
            <p>{{ item.name }} </p>
            <p>{{ item.date }} </p>
            <p>{{ item.price }} € </p>
        </div>
        <div *ngFor="let item of menu.poke; let i = index">
            <p>{{ item.name }} </p>
            <p>{{ item.date }} </p>
            <p>{{ item.price }} € </p>
        </div>
    </section>
    <section *ngIf="editMode">
        <h3>{{ "cafeteria.menuEditing" | translate }}</h3>
        <div>
            <p><b> {{ "cafeteria.dishName" | translate }} </b></p>
            <p><b> {{ "cafeteria.serviceDate" | translate }} </b></p>
            <p><b> {{ "cafeteria.price" | translate }} </b></p>
            <p (click)="saveChanges()"><i class="fa-solid fa-circle-check" style="color: #63e6be;"></i></p>
            <p (click)="cancelEdit()"><i class="fa-solid fa-circle-xmark" style="color: #ff513d;"></i></p>
        </div>
        <div *ngFor="let item of menu.first; let i = index">
            <input [(ngModel)]="item.name" type="text" name="name">
            <input [(ngModel)]="item.date" type="date" name="date">
            <input [(ngModel)]="item.price" type="text" name="price">
        </div>
        <div *ngFor="let item of menu.second; let i = index">
            <input [(ngModel)]="item.name" type="text" name="name">
            <input [(ngModel)]="item.date" type="date" name="date">
            <input [(ngModel)]="item.price" type="text" name="price">
        </div>
        <div *ngFor="let item of menu.poke; let i = index">
            <input [(ngModel)]="item.name" type="text" name="name">
            <input [(ngModel)]="item.date" type="date" name="date">
            <input [(ngModel)]="item.price" type="text" name="price">
        </div>
    </section>
</main>
<main *ngIf="!adminCookie">
    <p> {{ "cafeteria.credentials.part1" | translate }} <a routerLink="/backoffice">{{ "cafeteria.credentials.part2" | translate }}</a> {{ "cafeteria.credentials.part3" | translate }} </p>    
</main>
<app-footer *ngIf="adminCookie"></app-footer>
<app-footer *ngIf="!adminCookie" class="notFullPage"></app-footer>