<section>
    <article>
        <h1>{{ "cafeteria.dailyMenu" | translate }}</h1>
        <form>
            <input type="date" name="date" [(ngModel)]="selectedDate">
            <button (click)="searchDate()"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
        </form>
    </article>
    <article>
        <h2>{{ "cafeteria.starters" | translate }}</h2>
        <div *ngFor="let item of first; let i = index">
            <div>
                <img [src]="'../../../assets/images/First ' + (i + 1) + '.jpg'" alt="{{ item.name }}">
                <hr>
            </div>
            <div>
                <p>{{ item.name }} </p>
                <p *ngIf="pruebaCookie" class="basket"><i class="fa-solid fa-basket-shopping"></i></p>
                <p>{{ item.price }} €</p>
            </div>
        </div>
    </article>
    <article>
        <h2>{{ "cafeteria.entrees" | translate }}</h2>
        <div *ngFor="let item of second; let i = index">
            <div>
                <img [src]="'../../../assets/images/Second ' + (i + 1) + '.jpg'" alt="{{ item.name }}">
                <hr>
            </div>
            <div>
                <p>{{ item.name }} </p>
                <p *ngIf="pruebaCookie" class="basket"><i class="fa-solid fa-basket-shopping"></i></p>
                <p>{{ item.price }} €</p>
            </div>
        </div>
    </article>
    <article>
        <h2> Poke </h2>
        <div *ngFor="let item of poke; let i = index">
            <div>
                <img [src]="'../../../assets/images/Poke ' + (i + 1) + '.jpg'" alt="{{ item.name }}">
                <hr>
            </div>
            <div>
                <p>{{ item.name }} </p>
                <p *ngIf="pruebaCookie" class="basket"><i class="fa-solid fa-basket-shopping"></i></p>
                <p>{{ item.price }} €</p>
            </div>
        </div>
    </article>
</section>