/* TODO: Arreglar */
section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    margin: 2vh 0;
}

/* Daily menu */
article:nth-child(1) {
    grid-column: 1 / -1;

    font-family: "Whisper", cursive;
    font-size: 40px;
    margin-bottom: 2vw;
    text-align: center;
}

input {
    font-size: 18px;
    padding: 5px;
}

/* Columns */
article:not(:nth-child(1)) {
    display: grid;
    justify-content: center;
}

/* Dish group */
h2 {
    font-family: "Whisper", cursive;
    font-size: 35px;
    text-align: center;
}

article > div {
    display: flex;
    align-items: center;
    
    margin-bottom: 20px;
}

/* Dish image */
div div:nth-child(1) {
    margin-right: 20px;
    position: relative;
}

img {
    border-radius: 50%;
    width: 120px;
}

hr {
    position: absolute;
    left: 100px;
    top: 70px;
    z-index: -1;

    border: 1px solid #898989;
    width: 350px;
}

/* Dish name*/
div div:nth-child(2) {
    width: 280px;
}

p {
    margin-bottom: 0;
    font-size: 24px;
}

.basket {
    position: relative;
    left: 260px;
    top: -50px;

    width: 40px;
}

p:last-child {
    margin-top: 0;
    text-align: right;
}

@media (max-width: 1400px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
    
    /* Daily menu */
    h1 {
        margin-bottom: 10px;
    }

    /* Dish image */
    div div:nth-child(1) {
        margin-right: 10px;
    }
    
    img {
        width: 100px;
    }
    
    hr {
        top: 45px;
        width: 230px;
    }
    
    /* Dish name */
    div div:nth-child(2) {
        width: 220px;
    }
    
    p {
        font-size: 16px;
    }

    .basket {
        left: 200px;
        top: -35px;
    }
}

@media (max-width: 750px) {
    section {
        grid-template-columns: 1fr;
    }
    
    hr {
        width: 190px;
    }
    
    /* Dish name */
    div div:nth-child(2) {
        width: 160px;
    }

    .basket {
        left: 160px;
        top: -38px;
    }
}