@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0 auto;
}

main {
    margin: 20px;
}

.notFullPage {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}